<div class="row text-center">
  <div class="col-sm-6">
    <%= button_to 'View public tasks', public_tasks_tasks_path, class: "btn btn-primary", method: :get %>
  </div>
  <div class="col-sm-6">
    <%= button_to 'Post a task', new_task_path, class: "btn btn-primary", method: :get %>
  </div>
</div>
</br>
<h3 class="text-center"> My Tasks</h3>
<% if @tasks.present? %>
  <%= render partial: "task", collection: @tasks, as: :task %>
<% else %>
  <h3> Sorry ! currently there are no tasks created by you. Please create a task.</h3>
<% end %>